version: '3.8'

services:
  risk-engine:
    build: .
    container_name: cl_risk_engine_v4
    # Montamos volúmenes para ver los resultados en nuestra máquina host
    volumes:
      - ./output:/app/output
      - ./data:/app/data
    # Variables de entorno (pueden sobreescribir settings.py)
    environment:
      - RAY_ADDRESS=local # Indica a Ray que corra en modo local dentro del container
    # Límites de recursos (Opcional, para simular producción)
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 4G